<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<configSections>
		<section name="capi" type="ABB.Robotics.Controllers.ConfigurationHandler, ABB.Robotics.Controllers" />
	</configSections>
	
	<capi>
		
		<!--The default values used by the PC SDK are entered in this template.
		 This means that whether you add this App.config to your VS project or not
		 will not affect application behavior until you start modifying the settings.
		 -->
		
		          
		<!-- 
			Specifies the default system created with parameterless constructor of Controller class 
			attribute: id = GUID empbraced by curly brackets eg. {F2ECCA25-CF6F-41F3-8D81-6619794505DD}
		-->
		<defaultSystem id="" />
		
		<!-- 
			Configures the DefaultUser property of the UserInfo class 
			attributes: user = name of user
						password = password of user
						application = name of application, optional, uses name from process if not supplied 
		-->
		<defaultUser name="Default User" password="robotics" application=""/>				
		
		<!-- 
			Configures the timeout and multiplicand for slow calls to the controller
			attributes: timeout = normal timeout for a controller call
						slow = multiplicand for "slow" calls
		-->
		<controllerCall timeout="30000" slow="2.5" />
		
		<!-- 
			Configures poll cycle and timeout for request of mastership in manual mode (remote manual mode privileges)
			attributes: cycle = time between poll calls, milliseconds
						timeout = maximum time for entire operation, seconds 
		-->
		<rmmp cycle="500" timeout="65" />
		
		
		<!--
		    Configures the time in Ms a scan operation will last
		-->
		<discovery.networkscanner delay="200" />
		
		<!-- 
			Configures the behavior of the internal event server. 
			attributes: AsyncDelegate = the events will be raised using a async delegate callback
										and they will therefore reach the subscriber on any thread.
				  
						WindowDelegate = the events will be raised using a windows postback
										 delegate object. This assumes that the subscribing thread has a window 
										 associated to it. (either through a Application.Run(), COM STA or any
										 other message pump based technology. If no window exists subscriptions will fail. 
		-->				  
		<eventStrategy name="AsyncDelegate" />
	
	
		<!-- 
			Configures remote controllers to be added during a network scan, eg.
			<remoteControllers>
			<controller id="192.168.8.138" />
			<controller id="192.168.8.139" />
			</remoteControllers>
		-->
		
		<!--
			Configures the cleanup cycle for internal controller objects.
			attributes: timeout = timeout between cleanups, mS. A value of zero
		    or less disables the cleanup. <cleanupCycle timeout="0" /> (default implementation if not used is 120000)
		-->
	</capi>
	         
</configuration>
